
<div>
  <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Wikinimous</span>
    <%= link_to 'New Article', new_article_path %>
  </div>
</nav>
</div>
<div>
  <div class="container">
    <% @articles.each do |article| %>
      <article>
        <h2><%= link_to article.title, article %></h2>
        <%= article.content[0..150] %>
      </article>
    <% end %>
  </div>
</div>
